/* Common styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* App styles Styles for the main application container */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styles */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Box styles */
.box {
  position: relative;
  width: 20cm;
  height: 20cm;
  margin-top: 20px;
}

.box img {
  width: 100%;
  height: auto;
}

/* Box content styles */
.box-content {
  position: relative;
  top: 90%; /* Adjusted to move it down */
  left: 20%;
  transform: translate(-50%, -50%);
  width: 90%; /* Adjusted width for better readability */
  max-width: 1000px; /* Set a maximum width to avoid excessive stretching on larger screens */
  padding: 10px;
  box-sizing: border-box;
  color: rgb(61, 177, 164);
  background-color: white; /* Add a background color for better contrast */
  border-radius: 10px; /* Add rounded corners for a softer look */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

/* COMBIMAB IS styles */
.box-content h2 {
  font-size: 14px;
  margin-top: 40px; /* Add margin to separate from the previous text */

}

/* Header styles */
.homepage-container h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: rgb(61, 177, 164); /* Dark teal */
}

/* Box styles */
.box {
  position: relative;
  width: 20cm;
  height: 20cm;
}

.box img {
  width: 100%;
  height: auto;
}

/* Box content styles */
.box-content {
  position: absolute;
  top: 13cm;
  left: 10cm;
  font-size: 20px;
  color: black;

}

/* COMBIMAB IS styles */
.box-content h2 {
  font-size: 20px;
  color: black;
}

/* Calculator bar styles */
.calculator-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(61, 177, 164);
  width: 97%; /* Adjust the percentage value for the desired width */
  padding: 8px;
  max-width: 800px;
  margin: auto; 

}

.calculator-bar label {
  margin-left: 5%;
  margin-right: 2%;
  color: white;
}

.calculator-bar input {
  padding: 10px;
  font-size: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;

}
.calculator-bar input::placeholder {
  font-size:14px;
  color: #999; /* Adjust the color of the placeholder */

}

.calculator-bar button {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  border-radius: 10px;

  background-color: rgb(255, 164, 0);
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  margin-left: 5%;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.calculator-bar button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: skewX(-20deg);
  z-index: -1;
}

.calculator-bar button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/* Dose table styles */
.dose-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
 color: rgb(61, 177, 164);
 border: 1px solid rgb(61, 177, 164);
}

.dose-table th,
.dose-table td {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.dose-table th {
  background-color: rgb(240, 240, 240); /* Light gray */
}
.hcp-support-button {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  background-color: rgb(61, 177, 164); /* Dark teal */
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.hcp-support-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: skewX(-20deg);
  z-index: -1;
}

.hcp-support-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/* Button container styles */
.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.GUIDANCE {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  background-color: rgb(61, 177, 164); /* Dark teal */
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-left: 10px;
}

.GUIDANCE::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: skewX(-20deg);
  z-index: -1;
}

.GUIDANCE:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.CALENDAR {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  background-color: rgb(61, 177, 164); /* Dark teal */
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.CALENDAR::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: skewX(-20deg);
  z-index: -1;
}

.CALENDAR:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/* Disclaimer styles */
.disclaimer {
  color: red;
  margin-top: 10px;
}

/* Bar styles */
.bar {
  background-color: rgb(61, 177, 164); /* Dark teal */
  height: 30px;
  position: relative;


}

.bar::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: skewY(-20deg);
  z-index: -1;
}

/* App header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(61, 177, 164);
}

.App-link {
  color: #61dafb;
}

/* App logo animation styles */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-label {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333; /* Adjust the color as needed */
  margin-bottom: 8px;
  display: block;
}

.form-input {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%; 
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.custom-navbar-color {
  background-color: rgb(61, 177, 164); 
}